@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(135.44deg, #2e3358 2.26%, #1c1b33 75.19%);
}

.glass {
  background: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
